.menu{
    height: 100vh;
    display: flex;
    width: 100vw;
    backdrop-filter: blur(10px);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    justify-content: flex-end;
    overflow: hidden;

    .body{
        box-sizing: border-box;
        background-color: rgba(44, 46, 48);
        min-width: fit-content;
        height: 100%;
        padding: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .nav{
            display: flex;
            flex-direction: column;
            font-size: 56px;
            gap: 12px;
            margin-top: 80px;
            @media (max-width: 600px) {
                font-size: 48px;
            }

            .header{
                color: rgb(153, 153, 153);
                border-bottom: 1px solid rgb(153, 153, 153);
                text-transform: uppercase;
                font-size: 11px;
                margin-bottom: 40px;
                @media (max-width: 600px) {
                    font-size: 8px;
                }
            }

            a{
                text-decoration: none;
                font-weight: 600;
            }
            
        }
    }
}