:root {
  color-scheme: dark;
}

body::-webkit-scrollbar {
  width: 12px; 
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #6b62f3;
  border-radius: 6px; 
  border: 3px solid transparent; 
}

html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

.grecaptcha-badge { 
    visibility: hidden;
}

body{
    scrollbar-width: thin;
    scrollbar-color: #6b62f3 transparent; 
    margin: 0px;
    cursor: wait;
    background-color: #f4f4f4;
    background-image: url(/stars/stars3.png);
    background-repeat: repeat;
    background-position: top center;
    background-size: contain;
    background-blend-mode: hard-light;
    box-sizing: border-box;
    z-index: 1;
    font-family: "TTSupermolotNeue-CondDBold-Web", sans-serif;
    font-weight: 700; /* Match the weight specified in @font-face */
    font-style: normal;
}

body::before {
    content: "";
    background-image: url('/images/background.png');
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-size: cover;
    pointer-events: none;
    mix-blend-mode: lighten;
    opacity: 1;
    z-index: 2;
}

html, body {
  -webkit-overflow-scrolling: touch;
}


main{
    background-color: #00030a;
    position: relative;
    canvas {
    background: transparent;
    z-index: 1;
    mix-blend-mode: lighten;
    }
}

@font-face {
  font-family: "TTSupermolotNeue-CondDBold-Web";
  src: local(""),
       url('../../public/fonts/TTSupermolotNeue-CondDBold.woff2') format('woff2'),
       url('../../public/fonts/TTSupermolotNeue-CondDBold.woff') format('woff'),
       url('../../public/fonts/TTSupermolotNeue-CondDBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}